<!DOCTYPE html>
<html>
<head>
  <title>External APIs - Forecast.io</title>

  <link rel="stylesheet" type="text/css" href="/global.css">
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>